
:root{   /*adicionando variaveis*/
    --vemelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* elementos principais*/

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex; /* coloca os elementos do container em linha*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    color: var(--vemelho);
    font-family:'Arial black','Times';
    font-size: 40px;
    margin-left: 10px;;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{ /* um evento que ocorre quando o mouse passa por cima*/
    color:#fff;
}

/* formatação filme principal*/

.filme-principal .container{
    margin-left: 20px;
    width: 100%;
    /*height: 400px;*/
}
.titulo{
    margin-top: 20%;
    font-size: 30px;
    padding-bottom: 15px;
}
.filme-principal{
    font-size: 16px;
    /*este comando abaixo escurece as imagem para melhor leitura da descrição*/
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50) 100%),url('/img/fundo.jpg');
    /*background-repeat: no-repeat;*/
    /*height: 100%;
    /*height: 10%;*/
    background-size: cover;/*faz a foto acompanhar o tamanho do conteiner*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content:center ;*/
}
.filme-principal .descricao{
    margin-bottom: 10%;
    width: 80%;
}

.botao{
    background-color: rgba(0,0,0,0.50);
    border: none;
    /*height: 30px;
    width: 150px;*/
    padding: 10px 20px;
    color: white;
    margin: 8px;
    margin-bottom: 5%;
    cursor: pointer;/*muda o mouse para indicar que é bootão*/
    transition: .5s ease all;
    font-size: 11px;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin: 5px;
}

/*criando formatação para caroosel de filmes*/

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-filmes{

    margin-top: 20px;
}















